[Unit]
Description=My Flask App
After=network.target

[Service]
User={{ app_user }}
WorkingDirectory={{ app_directory }}
ExecStart=/usr/bin/python3 {{ app_directory }}/app.py
Restart=always

[Install]
WantedBy=multi-user.target
